.sites-lang-selector {
  margin-bottom: 20px;
}

.box-site {
  .btn {
    text-transform: uppercase;
  }
  h2 {
    font-size: 16px;
    margin: 0 0 5px 0;
  }
  .flag {
    position: absolute;
    right: 4px;
    top: 4px
  }
  .img-jeu{
    margin-bottom: 10px;
  }
  ul {
    margin-bottom: 5px;
  }
  li > span {
    font-weight: bold;
  }
  .progress{
    background-color: $gray-light;
    .player-progress{
      background-color: $brand-primary-dark;
    }
  }
}